.settings {
  font-family: 'Courier New', Courier, monospace;
  padding: 0.625rem;
  position: relative;
  min-width: 17rem;
  background-color: blanchedalmond;
  color: #333;
  border-radius: 1%;
  text-align: center;
  height: 100%;

  &__row {
    margin: 0.3rem;
  }

  &__name {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    margin: 0;
  }

  &__input {
    text-align: center;
    margin: 0;
  }

  &__radio {
    cursor: pointer;
  }
}
