.demo {
  min-width: 770px;
}

.header {
  text-align: center;
  padding-top: 5rem;
  opacity: 0.8;
  font-family: 'Courier New', Courier, monospace;
}

.link {
  text-align: center;
  padding-bottom: 7rem;
}

.link a {
  font-family: 'Courier New', Courier, monospace;
  color: crimson;
}

.slider-wrapper {
  width: 40rem;
  height: 32rem;
  padding: 3rem 0;
}