* {
  padding: 0;
  margin: 0;
}

.slider {
  position: relative;
  height: 100%;
}

.track {
  position: absolute;
  background-color: pink;
  border-radius: 20px;
  cursor: pointer;
}

.track-horizontal {
  margin-top: 5px;
  width: 100%;
  height: 10px;
}

.track-vertical {
  margin-left: 5px;
  width: 10px;
  height: 100%;
}

.thumb {
  position: absolute;
  display: inline-block;
  height: 20px;
  width: 20px;
  background-color: red;
  cursor: pointer;
  border-radius: 50%;
}

.thumb-label {
  position: relative;
  top: -20px;
  left: 20px;
  user-select: none;
}

.scale_horizontal {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 30px;
  width: 100%;
}

.scale_vertical {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  left: 30px;
  height: 100%;
}

.settings {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.settings__label {
  margin: 5px;
}

.settings__name {
  font-weight: bold;
  text-transform: uppercase;
}
