* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.slider {
  position: relative;
  height: 100%;
}

.track {
  position: absolute;
  background-color: #ddd;
  border-radius: 20px;
  cursor: pointer;
}

.track-horizontal {
  margin-top: 5px;
  width: 100%;
  height: 10px;
}

.track-vertical {
  margin-left: 5px;
  width: 10px;
  height: 100%;
}

.bar {
  background-color: dodgerblue;
  opacity: 0.5;
  position: relative;
  border-radius: 20px;
}

.bar-horizontal {
  height: 10px;
}

.bar-vertical {
  width: 10px;
}

.thumb {
  position: absolute;
  display: inline-block;
  height: 20px;
  width: 20px;
  background-color: dodgerblue;
  cursor: pointer;
  border-radius: 50%;
  z-index: 2;
}

.thumb-label {
  position: relative;
  user-select: none;
  width: 50px;
  text-align: center;
}

.thumb-label_horizontal {
  top: -20px;
  left: -15px;
}

.thumb-label_vertical {
  left: -50px;
}

.scale_horizontal {
  position: relative;
  top: 30px;
  width: 100%;
}

.scale_vertical {
  position: relative;
  left: 30px;
  height: 100%;
}

.scale__value {
  position: absolute;
  text-align: center;
  cursor: pointer;
}

.scale__value:hover {
  opacity: 0.6;
}

.settings {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.settings__label {
  margin: 5px;
}

.settings__name {
  font-weight: bold;
  text-transform: uppercase;
}
